.categories-list {
  text-transform: uppercase;
  margin-top: 20px;
  .row {
    margin: 0;
  }
  .name {
    font-family: 'roboto_condensedlight';
    color: $categories-color;
    font-size: $defoultFontSize;
    float: left;
    line-height: 30px;
    margin-bottom: 0;
    margin-right: 12px;
    font-size: $font18;
  }
  .categories-list__items {
    float: left;
    margin-bottom: 0;
    li {
      display: inline-block;
      a {
        line-height: 30px;
        padding-right: 17px;
        padding-left: 17px;
        color: $categories-item-color;
        display: block;
      }
    }
    li.current-cat{
      a{
        color: $black;
        text-decoration: none;
        @include border-radius(6px);
        background-color: $categories-item-hover-background;
        box-shadow: inset 1px 1px 7px 1px rgba(181, 184, 186, 0.8);
      }
    }
  }
}