footer {
  margin-top: 35px;
  margin-bottom: 35px;
  font-family: 'robotolight';
  color: $black;
  font-size: $defoultFontSize;
  p {
    margin-bottom: 0;
  }
  .footer__links {
    color: $categories-color;
    a {
      color: $link;
      display: inline-block;
      margin: 0px 0px 0 15px;
    }
  }
}

html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper__content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}