header {
  .container {
    .logo {
      position: absolute;
    }
    .content {
      .content__about {
        color: $black;
        font-family: 'roboto_condensedlight';
        font-size: $defoultFontSize;
      }
      h2 {
        margin-top: 55px;
        margin-bottom: 0;
        font-family: 'roboto_condensedregular';
        font-size: $font24;
        span {
          font-family: 'roboto_condensedlight';
          color: $grey;
        }
      }
      p {
        margin-top: 10px;
        line-height: 23px;
        a{
          color: $link;
        }
      }

      .search {
        width: 320px;
        height: 116px;
        position: relative;
        margin-top: 66px;
        float: right;
        .foto {
          position: absolute;
          top: 0;
          right: -8px;
          width: 100px;
          height: 100px;
          @include border-radius(100px);
          border: 8px solid $search;
          box-sizing: content-box;
          z-index: 3;
        }
        .search__field {
          @include absoluteVerticalCenter();
          height: 50px;
          width: 100%;
          background-color: $search;
          border: none;
          @include border-radius(10px);
          outline: none;
          padding-left: 58px;
          padding-right: 108px;
          z-index: 2;
          font-family: 'robotolight_italic';
          color: $searchText;
          font-size: $font20;
          top:-5px;
        }
        .search__submit {
          width: 22px;
          height: 22px;
          background: url("../images/content/loop.png") no-repeat;
          @include absoluteVerticalCenter();
          z-index: 4;
          border: none;
          background-color: $search;
          text-indent: -99999999px;
          left: 26px;
          top:-3px;
        }
      }
    }
  }
}
