.instagram {
  .instagram__head {
    color: $black;
    h3 {
      font-family: 'lobsterregular';
      font-size: $font32;
      margin-bottom: 0;
      margin-top: 24px;
    }
    p {
      font-family: 'roboto_condensedlight';
      font-size: $defoultFontSize;
      margin-bottom: 15px;
      line-height: 20px;
    }
  }
  p {
    font-family: 'roboto_condensedlight';
    font-size: $defoultFontSize;
    line-height: 32px;
  }
  .more-photos {
    height: 200px;
    background: url("../images/content/more-foto.jpg") no-repeat;
    background-size: cover;
    p {
      line-height: 20px;
      padding-top: 112px;
    }
  }
  #sb_instagram .sbi_photo {
    height: 200px!important;
  }
  #sb_instagram #sbi_images {
    width: 1320px;
  }
  #sb_instagram.sbi_col_6 #sbi_images .sbi_item {
    padding: 0px 20px 0 0!important;
  }
}