section {
  min-width: 1420px;
  overflow: hidden;
}
.posts, .post {
  background-color: $post-background;
  margin-top: 22px;
  .content {
    position: relative;
    &:before {
      content: "";
      width: 10000px;
      height: 100%;
      position: absolute;
      left: -10000px;
      background-color: $white;
    }
  }
}

.content__posts {
  background-color: $post-background;
  padding-top: 45px;
  > .post-container {
    padding-bottom: 140px;
    &:last-child {
      padding-bottom: 165px;
    }
  }

  .tittle {
    margin:0;
    font-family: 'robotomedium';
    font-size: $font52;
    line-height: 62px;
    color: $black;
  }
  .content__posts__info {
    padding-top: 15px;
    font-size: $font12;
    p {
      padding: 0 10px;
      background-color: $owl-dot-color;
      margin-bottom: 1px;
      line-height: 29px;
      color: $post-info-color;
      display: inline-block;
      text-transform: uppercase;
    }
    .post-category {
      color: $categories-item-color;
    }
  }
  .tags {
    margin-top: 20px;
    li {
      display: inline-block;
      margin-right: 11px;
      border: 1px solid $tags-border-color;
      a {
        padding-left: 19px;
        padding-right: 8px;
        position: relative;
        line-height: 22px;
        display: block;
        font-size: $font11;
        &:before {
          content: "";
          position: absolute;
          left: -1px;
          top: -1px;
          width: 14px;
          height: 24px;
          background: url("../images/content/str.jpg") no-repeat;
        }
      }
    }
  }
  .post-body {
    margin-top: 33px;
    .image {
      position: relative;
      width: 1190px;
      right: 112px;
      margin-top: 30px;
      margin-bottom: 30px;
      .wp-caption-text {
        font-family: 'roboto_condensedlight';
        font-size: $defoultFontSize;
        font-style: italic;
      }
    }
    .alight-left {
      float: left;
      margin-left: -112px;
      position: relative;
      margin-right: 20px;
      margin-bottom: 40px;
    }
    .clear {
      clear: both;
    }
    p {
      line-height: 32px;
      font-family: 'robotolight';
      font-size: $font20;
      color: $black;
    }
    .more {
      font-family: 'robotolight';
      font-size: $font20;
      margin-top: 36px;
      display: inline-block;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 26px;
        height: 49px;
        background: url("../images/content/more.png") no-repeat;
        top: -11px;
        right: -36px;
      }
    }
  }

  .wp-pagenavi{
    margin: 39px 0;
    position: relative;

    &:after {
      content: "";
      width: 1360px;
      height: 1px;
      background-color: #dddfe2;
      position: absolute;
      top: -40px;
      left: -221px;
    }

    a,
    span:not(.extend) {
      width: 46px;
      line-height: 46px;
      border-radius: 48px;
      border: 1px solid #ff0020;
      display: inline-block;
      text-align: center;
      padding: 0;
      box-sizing: content-box;
      font-family: 'robotolight';
      font-size: $font20;
      color: $link;
      margin-right: 24px;
    }
    .extend {
      border: none;
      width: 40px;
      padding: 0;
      margin: 0 24px 0 0;
      font-size: 37px;
      position: relative;
      top: 7px;
      color: #ff0020;
    }
    .current {
      background-color: #ff0020;
      color: $white!important;
    }
  }
}
