.content__post {
  background-color: $post-background;
  padding-top: 67px;
  position: relative;
  > .row {
    padding-bottom: 80px;
  }
  .tittle {
    margin:0;
    font-family: 'robotomedium';
    font-size: $font52;
    line-height: 62px;
    color: $black;
  }
  .content__post__info {
    padding-top: 15px;
    font-size: $font12;
    p {
      padding: 0 10px;
      background-color: $owl-dot-color;
      margin-bottom: 1px;
      line-height: 29px;
      color: $post-info-color;
      display: inline-block;
      text-transform: uppercase;
    }
    .post-category {
      color: $categories-item-color;
    }
  }
  .tags {
    margin-top: 20px;
    li {
      display: inline-block;
      margin-right: 11px;
      border: 1px solid $tags-border-color;
      a {
        padding-left: 19px;
        padding-right: 8px;
        position: relative;
        line-height: 22px;
        display: block;
        font-size: $font11;
        &:before {
          content: "";
          position: absolute;
          left: -1px;
          top: -1px;
          width: 14px;
          height: 24px;
          background: url("../images/content/str.jpg") no-repeat;
        }
      }
    }
  }
  .post-body {
    margin-top: 33px;
    .image {
      position: relative;
      width: 1190px;
      right: 112px;
      margin-top: 30px;
      margin-bottom: 30px;
      .wp-caption-text {
        font-family: 'roboto_condensedlight';
        font-size: $defoultFontSize;
        font-style: italic;
      }
    }
    .alight-left {
      float: left;
      margin-left: -112px;
      position: relative;
      margin-right: 20px;
      margin-bottom: 40px;
    }
    .clear {
      clear: both;
    }
    p {
      line-height: 32px;
      font-family: 'robotolight';
      font-size: $font20;
      color: $black;
    }
  }
}
.go-home {
  font-family: 'roboto_condensedlight';
  font-size: $defoultFontSize;
  text-transform: uppercase;
  color: $link;
  display: inline-block;
  margin-top: 30px;
}