.slider {
  .owl-carousel {
    position: relative;
    min-width: 1420px;
    .owl-item {
      .content {
        position: relative;
      }
      .content__info {
        background:#dddfe2;
        font-family: 'roboto_condensedlight';
        color: $black;
        display: inline-block;
        padding-left: 9px;
        padding-right: 11px;
        font-size: $font14;
        text-transform: uppercase;
        line-height: 30px;
        p {
          margin: 0;
        }
      }
      .content__text {
        font-family: 'robotomedium';
        font-size: $font32;
        color: $white;
        margin-top: 6px;
        line-height: 42px;
      }
    }
    .owl-dots {
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 1300px;
      right: 0;
      margin: 0 auto;
    }
    .owl-dot {
      width: 15px;
      height: 15px;
      background-color: $owl-dot-color;
      display: inline-block;
      margin-right: 10px;
    }
    .owl-dot.active {
      background-color: $owl-dot-active-color;
    }
  }
  .slider__head {
    color: $black;
    h3 {
      font-family: 'lobsterregular';
      font-size: $font32;
      margin-bottom: 0;
      margin-top: 34px;
    }
    p {
      font-family: 'roboto_condensedlight';
      font-size: $defoultFontSize;
      margin-bottom: 13px;
    }
  }

}
