@font-face {
  font-family: 'robotolight_italic';
  src: url('../fonts/roboto-lightitalic.eot');
  src: url('../fonts/roboto-lightitalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-lightitalic.woff2') format('woff2'),
  url('../fonts/roboto-lightitalic.woff') format('woff'),
  url('../fonts/roboto-lightitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/roboto-medium.eot');
  src: url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-medium.woff2') format('woff2'),
  url('../fonts/roboto-medium.woff') format('woff'),
  url('../fonts/roboto-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'lobsterregular';
  src: url('../fonts/lobster-regular.eot');
  src: url('../fonts/lobster-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lobster-regular.woff2') format('woff2'),
  url('../fonts/lobster-regular.woff') format('woff'),
  url('../fonts/lobster-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_condensedlight';
  src: url('../fonts/robotocondensed-light.eot');
  src: url('../fonts/robotocondensed-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotocondensed-light.woff2') format('woff2'),
  url('../fonts/robotocondensed-light.woff') format('woff'),
  url('../fonts/robotocondensed-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/robotocondensed-regular.eot');
  src: url('../fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotocondensed-regular.woff2') format('woff2'),
  url('../fonts/robotocondensed-regular.woff') format('woff'),
  url('../fonts/robotocondensed-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light.eot');
  src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-light.woff2') format('woff2'),
  url('../fonts/roboto-light.woff') format('woff'),
  url('../fonts/roboto-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}