@media only screen and (max-width: 1200px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  body {
    width: 70%;
  }
}
