.error-page {
  margin-top: 70px;
  h1 {
    font-size: 70px;
    line-height: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  h2 {
    display: block;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 25px;
    color: #888;
  }

  .feat-more {
    color: #fff;
    padding: 17px 38px;
    border: none;
    background: #000;
    display: inline-block;
    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
    border-radius: 100px;
    &:hover {
      background: #47c9e5;
      color: #fff;
    }
  }
}